{% extends "base.html" %}
{% block title %}Blog Posts{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header"><h4 class="mb-0">Blog Posts</h4></div>
  <ul class="list-group list-group-flush">
    {% for post in posts %}
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div>
          <a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a>
          <div class="small text-muted">Tags: 
            {% for t in post.tags.all %}
              {{ t.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
              None
            {% endfor %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
