{% extends "base.html" %}
{% block title %}Student: {{ student }}{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header"><h4 class="mb-0">Student: {{ student }}</h4></div>
  <div class="card-body">
    <p><strong>Email:</strong> {{ student.email }}</p>

    {% if student.address %}
      <h6>Address</h6>
      <p>{{ student.address.line1 }}, {{ student.address.city }}, {{ student.address.state }} - {{ student.address.zipcode }}</p>
    {% else %}
      <p>No address set.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
